@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Montserrat:ital,wght@0,600;1,200&display=swap");
.container {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  border: black;
  border-width: 2px;
  box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.06);
}

.head_container {
  padding: 7px;
  height: 80px;
  margin: 0 10%;
  overflow: hidden;
}

.logo {
  float: left;
  margin-left: 20px;
}
.logo img {
  height: 50px;
}

.menu {
  margin-top: 5px;
  float: right;
}
.menu ul {
  list-style-type: none;
  margin-right: -10px;
}
.menu li {
  display: inline;
  margin-right-last: 0px;
}
.menu a {
  text-decoration: none;
  font-weight: 500;
  color: black;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.menu span {
  background-color: black;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
}
.menu a:hover {
  transform: scale(1.4);
}
.menu .responsive {
  position: relative;
}
.menu .responsive {
  float: none;
  display: block;
  text-align: left;
}

.closebtn {
  margin-top: 20px;
}

.closebtn:hover {
  transform: scale(1.4);
  cursor: pointer;
}

.icon {
  display: none;
}

@media screen and (max-width: 835px) {
  .logo img {
    height: 40px;
  }
  ul > li:first-of-type {
    display: none;
  }
  .menu {
    margin: 0;
  }
}
@media screen and (max-width: 844px) {
  .head_container {
    margin: 0 3%;
  }
}
@media screen and (max-width: 994px) {
  .head_container {
    margin: 0 3%;
  }
}
@media screen and (max-width: 710px) {
  .head_container {
    margin: 0 3%;
  }
  .content-slider p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .menu li {
    display: none;
  }
  .icon {
    font-weight: 900 !important;
    font-size: 24px !important;
    padding: 0;
    margin: 0;
    margin-top: -22px;
    margin-right: 0;
    display: flex;
  }
  .logo img {
    height: 35px;
  }
  .sidenav a {
    font-size: 16px;
    color: black;
  }
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  list-style: none;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 87px;
  box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.24);
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
}
.sidenav a:nth-last-child(-n+2):hover {
  border-bottom: 1px solid black;
  width: 50%;
  margin-left: 10px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.swiper {
  height: 800px;
}

.swiper {
  width: 100%;
  background-color: #E1E1E1;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: "prev";
  margin-left: 364px;
  color: black;
  font-size: 30px;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: "next";
  margin-right: 364px;
  color: black;
  font-size: 30px;
}

.content-slider {
  left: 20%;
  top: 30%;
  position: absolute;
}
.content-slider h2 {
  font-size: 40px;
}
.content-slider p {
  width: 50%;
}

.product-title h3 {
  font-size: 32px;
  text-align: center;
  font-style: bold;
  line-height: 39px;
  margin-top: 118px;
}

.feature-product h3 {
  font-size: 32px;
  text-align: center;
  font-style: bold;
  line-height: 39px;
  margin-top: 68px;
}

.content-square {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content-square .content-first {
  margin: 0px 32px 0 32px;
  width: 580px;
  height: 580px;
  background-color: lightgray;
}

.content-second-sub {
  display: flex;
  justify-content: center;
}
.content-second-sub .firstsub-content {
  width: 274px;
  height: 274px;
  background-color: lightgray;
}
.content-second-sub .secondsub-content {
  margin-left: 32px;
  width: 274px;
  height: 274px;
  background-color: lightgray;
}

.sub-second-content {
  margin: 32px 0;
  width: 580px;
  height: 274px;
  background-color: lightgray;
}

@media screen and (max-width: 1285px) {
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: "prev";
    margin-left: 164px;
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: "next";
    margin-right: 164px;
  }
}
@media screen and (max-width: 987px) {
  .content-slider p {
    width: 60%;
  }
  .content-slider h2 {
    font-size: 40px;
  }
  .content-slider .content-square {
    margin: 0 0%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 711px) {
  .content-second-sub {
    flex-direction: column;
  }
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: "prev";
    margin-left: 34px;
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: "next";
    margin-right: 34px;
  }
  .content-slider p {
    width: 80%;
    font-size: 14px;
  }
  .content-slider h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 1256px) {
  .content-square .content-first {
    margin: 0px 32px 32px 32px;
    width: 580px;
    height: 580px;
    background-color: lightgray;
  }
  .content-second-sub .secondsub-content {
    margin: 0px 0px 0px 32px;
  }
}
@media screen and (max-width: 710px) {
  .swiper {
    height: 400px;
  }
  .content-second-sub .secondsub-content {
    margin: 32px 0px 0px 0px;
  }
  .content-second-sub {
    align-items: center;
  }
  .sub-second-content {
    width: 437px;
  }
  .content-square .content-first {
    width: 437px;
    height: 437px;
  }
}
.product-menu {
  border-radius: 10px;
  margin: 0 10.5%;
  text-align: center;
  background-color: #E1E1E1;
}
.product-menu .product-menu-bar {
  display: flex;
  height: 64px;
  justify-content: center;
}
.product-menu .product-menu-bar .index {
  border-bottom: 3px solid;
  font-weight: 700;
}
.product-menu li {
  font-size: 18px;
  padding: 20px 40px;
  list-style: none;
}
.product-menu li a {
  color: #656565;
  text-decoration: none;
}
.product-menu li i {
  padding-left: 10px;
}

.cart-list .detail-cart {
  margin-top: 32px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.cart-list .detail-cart .detail-cart-item {
  width: 376px;
  height: 247px;
  background-color: #E1E1E1;
}
.cart-list .detail-cart .cart-item {
  padding: 0 16px;
}

.infor-item p {
  font-family: "Montserrat", sans-serif;
  color: #656565;
}

@media screen and (max-width: 909px) {
  .product-menu .product-menu-bar li {
    font-size: 14px;
    padding: 23px 17px;
  }
}
@media screen and (max-width: 594px) {
  .infor-item {
    text-align: center;
  }
  .infor-item h2 {
    font-size: 15px;
  }
  .infor-item p {
    font-size: 12px;
  }
  .infor-item .product-menu .product-menu-bar li {
    font-size: 10px;
    padding: 10px 10px;
  }
}
@media screen and (max-width: 500px) {
  .cart-list .detail-cart .cart-item {
    background-color: red;
  }
  .product-menu {
    margin: 0 0;
  }
  .product-menu .product-menu-bar {
    margin-left: -40px;
  }
  .product-menu .product-menu-bar li {
    font-size: 13px;
  }
  .product-menu .infor-item {
    text-align: center;
  }
  .product-menu .infor-item h2 {
    font-size: 16px;
  }
  .product-menu .infor-item p {
    font-size: 12px;
  }
  .product-menu .product-title h3 {
    font-size: 19px;
  }
}
.about-us {
  height: 900px;
  text-align: center;
  background-color: lightgray;
}
.about-us .read-more {
  border-radius: 10px;
  width: 172px;
  height: 50px;
  right: 45%;
  position: absolute;
  margin-top: 34.9%;
  color: white;
  background-color: black;
}
.about-us .overall-about-us {
  margin-top: 19.6%;
  position: absolute;
}
.about-us .overall-about-us h1 {
  margin-bottom: 32px;
}
.about-us .overall-about-us p {
  margin-left: 27%;
  justify-content: center;
  align-items: center;
  width: 50%;
  line-height: 1.4rem;
}

@media screen and (max-width: 925px) {
  .about-us {
    height: 700px;
  }
  .about-us .overall-about-us p {
    margin-left: 9%;
    width: 80%;
  }
  .about-us .overall-about-us h1 {
    padding-top: 15%;
  }
}
@media screen and (max-width: 666px) {
  .about-us {
    height: 650px;
  }
  .about-us .overall-about-us p {
    font-size: 13px;
  }
  .about-us .overall-about-us h1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 1350px) {
  .about-us .read-more {
    right: 42%;
    margin-top: 54.9%;
  }
}
@media screen and (max-width: 1040px) {
  .about-us .read-more {
    right: 40%;
    margin-top: 43.9%;
  }
}
@media screen and (max-width: 842px) {
  .about-us {
    height: 500px;
  }
  .about-us .overall-about-us {
    margin-top: 1.6%;
  }
  .about-us .overall-about-us .read-more {
    width: 102px;
    height: 40px;
    right: 36%;
    color: white;
  }
  .about-us p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
@media screen and (max-width: 610px) {
  .about-us .read-more {
    right: 40%;
    margin-top: 56.9%;
    width: 102px;
    height: 40px;
  }
}
@media screen and (max-width: 430px) {
  .about-us {
    height: 300px;
  }
  .about-us .read-more {
    right: 40%;
    margin-top: 64.9%;
    width: 94px;
    height: 36px;
  }
}
.footer {
  background-color: #404040;
  height: 530px;
  color: white;
}
.footer .footer-content {
  width: 100%;
}
.footer .footer-content .title-footer {
  padding: 3.2% 0 0 0;
}
.footer .footer-content .title-footer .footer-signup {
  justify-content: space-around;
  margin: 0 30%;
  border-radius: 20px;
  height: 48px;
  background-color: white;
}
.footer .footer-content .title-footer .footer-signup button {
  outline: none;
  border: white;
  background-color: white;
}
.footer .footer-content .title-footer h3 {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-family: "Times New Roman", Times, serif;
}
.footer .footer-content .title-footer .input {
  outline: none;
}
.footer .footer-content .title-footer input {
  padding: 20px;
  outline: none;
  height: 36px;
  width: 70%;
  border-radius: 15px;
  border: 1px solid white;
}
.footer .footer-content .brand-name-footer {
  flex-wrap: wrap;
  display: flex;
  margin-top: 64px;
  font-size: 15px;
  justify-content: center;
}
.footer .footer-content .brand-name-footer .branch {
  font-size: 32px;
}
.footer .footer-content .brand-name-footer .label {
  padding: 0 5%;
  margin-bottom: 60px;
}
.footer .footer-content .brand-name-footer .site, .footer .footer-content .brand-name-footer .term {
  color: #656565;
}
.footer .footer-content .brand-name-footer .link {
  margin-top: 44%;
}
.footer .footer-content .brand-name-footer .link li {
  padding: 9% 0;
  color: white;
  list-style: none;
}
.footer .footer-content .brand-name-footer .character {
  display: flex;
}
.footer .footer-content .brand-name-footer .character .circle {
  margin: 0 10px;
  border: 1px solid #fff;
  height: 20px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 20px;
}

.copyright {
  margin: 32px 0;
  text-align: center;
}

.horizontal-car {
  color: lightgray;
  width: 100%;
  margin-top: 4.15%;
}

@media screen and (max-width: 614px) {
  .character {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .footer .footer-content .title-footer .footer-signup {
    justify-content: space-around;
    margin: 0 10%;
    border-radius: 20px;
  }
}

/*# sourceMappingURL=app.css.map */
