@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Montserrat:ital,wght@0,600;1,200&display=swap');
*{
    box-sizing: border-box;
    font-family: $font;
}
header{
	border: black;
	border-width: 2px;
	box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.06);
}
.head_container{
	padding: 7px;
	height: 80px;
	margin: 0 10%;
	overflow: hidden;
}
.header-logo{
	float:left;
	img{
		display: flex;
		height: 60px;
	}
}

.header-menu{
	margin-top:5px;
	float:right;
	ul{
		list-style-type: none;
	}
	li{
		display: inline;
		padding: 0 18px;

	
	}
	a{
		font-family: 'Montserrat', sans-serif;
		text-decoration: none;
		color: black;
	}
	span{
		background-color: black;
		color: white;
		padding: 6px 12px;
		border-radius: 20px;
		margin-left: 20px;
	}
	a:hover { 
	transform: scale(1.4);
	}
	.responsive{
		position: relative;
	}
	.responsive{
		float: none;
		display: block;
		text-align: left;
	}
}
.closebtn{
	margin-top: 20px;
	cursor: pointer;

}
.closebtn:hover{
	transform:  scale(1.4);
}

.icon{
	display: none;
}
@media screen and (max-width: 1018px) {
	.header-menu li{
		display: none;
	}
	
.icon{
    font-weight: 900 !important;
    font-size: 24px !important;
    padding: 0;
    margin: 0;
	margin-TOP: -13PX;
	margin-right: 0;
    display: flex;
	
}
}
// @media screen and (max-width: 1018px) {
// 	.menu{
// 		display: none;
// 	}
// 	.icon{
// 		font-weight: 900 !important;
// 		font-size: 24px !important;
// 		padding: 0;
// 		margin: 0;
// 		margin-top: -7;
// 		margin-right: 0;
// 		display: flex;
		
// 	}
// }

@media screen and (max-width: 835px) {
	.header-logo img {
	    height: 40px;
	}
	ul > li:first-of-type{
		display:none;
	}
	.header-menu{
		margin:0;
	}
}
@media screen and (max-width: 844px) {
	.head_container {
		margin: 0 3%;
	}
}
@media screen and (max-width: 994px) {
	.head_container {
		margin: 0 3%;
	}
}


@media screen and (max-width: 710px) {
	.head_container {
		margin: 0 3%;
	}


	.header-logo img {
	    height: 35px;
	}
	.sidenav a {

		font-size: 16px;
		color: black;
	}
	
}

.sidenav {
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
	list-style: none;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 87px;
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.24);
	a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 20px;
		color: black;
		display: block;
		transition: 0.3s;
	}
	a:nth-last-child(-n+2):hover{
		border-bottom:  1px solid black;
		width: 50%;
		margin-left: 10px;
	}
}


.sidenav .closebtn {
    position: absolute;
    top: 0;

    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}