@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Montserrat:ital,wght@0,600;1,200&display=swap');
.product-menu{
    border-radius: 10px;
    width: 78%;
    text-align: center;
    align-items: center;
    background-color: #E1E1E1;
    justify-content: center;
        & .product-items{
            align-items: center;
            justify-content: center;
            display: flex;
            list-style: none;
            padding: 0px;
            margin: 0px;
            font-size: 18px;
            & .product-menu-link{
            padding: 21px 64px;
            span{
                padding-left: 4px;
            }
             a{
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                color:#656565;
            } 
        }
        & .active {
            border-bottom: 4px solid black;
            width: 2%;
            display: flex;
            margin-right: 64px;
            justify-content: center;
           a{
            color: black;
           }
        }
    }
}

.cart-list{
    & .cart-detail{
        margin-top: 32px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        & .cart-item-detail{
           width: 368px;
           background-color: #E1E1E1;
            height: 247px;
        }
        & .cart-item{
            margin:16px 16px;
            & .infor-item{
                h2{
                    margin-top: 16px;
                }
            }
        } 
    }
}
.infor-item p{
    font-family: $font;
    color: $color-menu;
}
@media screen and (max-width: 909px) {
    .product-menu{
        .product-menu-bar{
            li{
                font-size: 14px;
                padding: 23px 17px;
            }
    }
}    
}
@media screen and (max-width: 594px) {
  .infor-item{
    text-align: center;
    h2{
        font-size: 15px;
    }
    p{
        font-size: 12px;
    }

    }    
}

@media screen and (max-width: 500px) {
    .product-menu{  
          margin: 0 10%;
        .product-menu-bar{
            margin-left: -40px;

    .infor-item{
        text-align: center;
     h2{
        font-size:16px;
    }
    p{
        font-size: 12px;
    }
    }
    .product-title h3{
        font-size: 19px;
    }
  }
}
}
@media screen and (max-width: 1210px) {
    .product-menu{
        border-radius: 10px;
        width: 78%;
            & .product-items{
                font-size: 15px;
                & .product-menu-link{
                padding: 21px 20px;
                 a{
             
                } 
            }
            & .active {
                width: 10%;
                display: flex;
                margin-right: 64px;
                // margin-left: 30%;
                justify-content: center;
               a{
                color: black;
               }
            }

        }
    }
    
  }
  @media screen and (max-width: 759px) {
    .product-menu{
            & .product-items{
                display: block;
                & .product-menu-link{
                 a{
             
                }
            }
            & .active {
                width: 20%;
                display: flex;
                margin-left: 40%;
                justify-content: center;
               a{
                color: black;
               }
            }
        }
    }   
  }