@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Montserrat:ital,wght@0,600;1,200&display=swap');
.product-menu{
    border-radius: 10px;
    margin: 0 10.5%;
    text-align: center;
    background-color: #E1E1E1;
    & .product-menu-bar{
        display: flex;
        height: 64px;
        justify-content: center; 
        & .index{
            border-bottom:3px solid ;
            font-weight: 700;
            }
        }
        & li{
            font-size: 18px;
            padding: 20px 40px;
            list-style: none;
        & a{
            color: $color-menu;
            text-decoration: none;
        }
        & i{
            padding-left: 10px;
        }
    }}

.cart-list{
    & .detail-cart{
        margin-top: 32px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        & .detail-cart-item{
            width: 376px;
            height: 247px;
            background-color: #E1E1E1;
        }
        // & .cart-item:nth-child(1n+2){
        //     margin-left: 32px;
        // } 
        & .cart-item{
            padding:0 16px;
        } 
    }
}
.infor-item p{
    font-family: $font;
    color: $color-menu;
}
@media screen and (max-width: 909px) {
    .product-menu{
        .product-menu-bar{
            li{
                font-size: 14px;
                padding: 23px 17px;
            }
    }
}    
}
@media screen and (max-width: 594px) {
  .infor-item{
    text-align: center;
    h2{
        font-size: 15px;
    }
    p{
        font-size: 12px;
    }
    .product-menu{

        .product-menu-bar{
        li{
            font-size: 10px;
            padding: 10px 10px;
      
        }
    }
    }    
}
}
// 
@media screen and (max-width: 500px) {
    
.cart-list{
    // margin: %;
    & .detail-cart{
        & .cart-item{
    
            background-color: red;
        } 
        // & .cart-item{
        //     margin-left: 32px;
        // } 
    }
}
    .product-menu{  
          margin: 0 0;
        .product-menu-bar{
            margin-left: -40px;

            li{
                font-size: 13px;
        }
    
    }
    .infor-item{
        text-align: center;
     h2{
        font-size:16px;
    }
    p{
        font-size: 12px;
    }
    }
    .product-title h3{
        font-size: 19px;
    }
  }
}
