$font:'Montserrat', sans-serif;
$text-content:#000000;
$fz-header:15px;
$fz-slidertitle:32px;
$width-component:274px;
$margin-component:32px;
$width-content:580px;
$color-menu:#656565;


.container{
font-family: $font;
}
